# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Reports
reports/*.html
reports/*.tmp
